<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>

<head>
  <title>ng-bootstrap table demo - complete</title>
</head>

<body>
  <div class="container-fluid">
    <hr>
    <p>
      This is a demo example forked from the <strong>ng-bootstrap</strong> project: Angular powered Bootstrap.
      Visit <a href="https://ng-bootstrap.github.io/" target="_blank">https://ng-bootstrap.github.io</a> for more
      widgets and demos.
    </p>
    <hr>
    <ngbd-table-complete></ngbd-table-complete>
  </div>
</body>

</html>

